https://bennettfeely.com/clippy/
comand-d for multiple lines
node_modules
https://coverr.co for videos
https://easings.net for the phase in and out 50.Building the navigation Part 2  
https://cubic-bezier.com to see how they work
https://caniuse.com what new feature can i use. 